<h2> Shouts </h2>

<%= form_tag :search, method: :get do%>
<%= text_field_tag :query %>
<%= submit_tag "SEARCH"%>
<% end %>

<%= form_for @text_subject do |form| %>
  <%= form.text_field :body %>
  <%= form.submit "SHOUT!" %>
<% end %>

<%= form_for @image_subject do |form| %>
  <%= form.text_field :url %>
  <%= form.submit "IMAGE!" %>
<% end %>

<ul>
<%= render @timeline %>
<%= paginate @timeline %>
</ul>
